.Hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    height: 160px;
    width: 200px;
}

h1 {
    font-size: large;
}

h2 {
    font-size: medium;
}
h3 {
    font-size: small;
}